*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: Calibri;
	font-size: 16px;
	margin: 0;
	background: linear-gradient(to right bottom, #45413f, #011137);
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.container{
	width: 600px;
}
h1{
	font-size: 60px;
	text-align: center;
}

.row{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.col{
	width: 48%;
}

select,
input{
	width: 100%;
	margin-bottom: 15px;
	font-size: 20px;
	color:rgb(255, 255, 255);
	background-color:#000000;
	padding:8px 15px;
	font-weight: 700
}
input{
	width: 100%;
	padding: 10px 15px;
	color:rgb(255, 255, 255);
	background-color:#000000;
}


